
.playerZone {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 340px;
    height: 70px;
    z-index: 11;
}

.loginBtnWrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 16px;
    padding: 15px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

.loginBtnsWrapper {
    width: 100%;
    margin: 10px 0;
    text-align: -webkit-center;
    background-color: #000;
    width: 150px;
    padding: 10px;
    margin-top: 50px;
    transform: translateX( -150px );
    transition: transform 200ms ease;
}

.loginBtnsWrapper.opened {
    transform: translateX( 0px );
}

.loginBtnText {
    display: inline-block;
    transform: skewX(20deg);
}

.loginBtnImg {
    vertical-align: middle;
    margin: 0 10px;
}

.loginBtn {
    display: block;
    transform: skewX(-20deg);
    background: rgb(0, 168, 252);
    color: rgb(0, 0, 0);
    padding: 0.5em;
    width: 10em;
    text-align: left;
    cursor: pointer;
    transition: background-color 200ms ease;
}

.loginBtn:hover {
    background-color: rgb(0, 180, 252);
}

.logoutBtn:hover {
    background: #ef5350;
    color: white;
}

/*  */

.username {
    position: absolute;
    left: 85px;
    top: 5px;
    font-size: 10px;
}

.avatar {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 70px;
    height: 70px;
    background-color: #000;
    opacity: 0.5;
}

.progressBar {
    position: absolute;
    width: 250px;
    height: 8px;
    border: 1px solid #aaa;
    border-radius: 2px;
    overflow: hidden;
}

.progressBarFill {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 50%;
    height: 100%;
}

.healthBar {
    top: 35px;
    left: 85px;
}

.manaBar {
    top: 25px;
    left: 85px;
}

.healthBar .progressBarFill {
    background-color: #f50;
}

.manaBar .progressBarFill {
    background-color: #55f;
}
